.logo {
    margin-bottom: 2em;
}

.login-content{
    padding: 0 8%;
    max-width: 550px;
    margin: 0 auto;
}

header {
    margin-bottom: 3.5em;
}

img {
    width: 90%;
    max-width: 320px;
}

a, .link {
    font-weight: 600;
    font-size: 0.8em;
    color: #428aca;
    text-decoration: none;
}

.new-user {
    padding: 4em 0 0;
}